<ion-content padding>
    <img logo src="../../../assets/imgs/delivery.png" />
    <h1 st><strong>Magic Moments</strong>
    Consulting and Services - Trucking</h1>

    <div input-field>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="Email Address"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
      ></ion-input>
    </ion-item>
  </div>
  <ion-button full (click)="login()" expand="block">Login</ion-button>
  <a routerLink="/reset" routerDirection="forward">Reset Password</a>
</ion-content>
